<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >


<suite name="SpreeApplication" verbose="1" >

    <parameter name="browser_name" value="chrome" />
    <parameter name="App_Url" value="https://spree-vapasi.herokuapp.com/" />
    <parameter name="UserName" value="sujithalakshmi.sundar@gmail.com" />
    <parameter name="UserPwd" value="Indiapwd@124" />

    <test name="LoginTest">
        <classes>
            <class name="tests.SpreeSearchProductTest"/>

        </classes>
    </test>

<!--    <test name="SearchTest">-->
<!--        <classes>-->
<!--            <class name="tests.SpreeSearchProductTest"/>-->
<!--        </classes>-->
<!--    </test>-->

</suite>
